// http://patorjk.com/software/taag/#p=display&f=Georgia11&t=Type%20Something%20
// http://patorjk.com/software/taag/#p=display&f=4Max&t=Type%20Something%20
// `7MMF'                                               mm
//   MM                                                 MM
//   MM  `7MMpMMMb.pMMMb. `7MMpdMAo.  ,pW"Wq.`7Mb,od8 mmMMmm ,pP"Ybd
//   MM    MM    MM    MM   MM   `Wb 6W'   `Wb MM' "'   MM   8I   `"
//   MM    MM    MM    MM   MM    M8 8M     M8 MM       MM   `YMMMa.
//   MM    MM    MM    MM   MM   ,AP YA.   ,A9 MM       MM   L.   I8
// .JMML..JMML  JMML  JMML. MMbmmd'   `Ybmd9'.JMML.     `MbmoM9mmmP'
//                          MM
//                        .JMML.

//                                ,,           ,,        ,,
// `7MMF'   `7MF'                 db          *MM      `7MM
//   `MA     ,V                                MM        MM
//    VM:   ,V ,6"Yb.  `7Mb,od8 `7MM   ,6"Yb.  MM,dMMb.  MM  .gP"Ya  ,pP"Ybd
//     MM.  M'8)   MM    MM' "'   MM  8)   MM  MM    `Mb MM ,M'   Yb 8I   `"
//     `MM A'  ,pm9MM    MM       MM   ,pm9MM  MM     M8 MM 8M"""""" `YMMMa.
//      :MM;  8M   MM    MM       MM  8M   MM  MM.   ,M9 MM YM.    , L.   I8
//       VF   `Moo9^Yo..JMML.   .JMML.`Moo9^Yo.P^YbmdP'.JMML.`Mbmmd' M9mmmP'
$fullBreak:850px;
$fullWidth:730px;
$mobileBreak:600px;
$middleWidth:550px;
$mobileWidth:316px;
// Colors
$black:#20005c;
$purple:#6402ff;
$yellow:#f1de00;
$bgWhite:hsla(0, 100, 100, 0.8);
// Gradient Colors
$gLightPurple:hsla(264, 100, 90, 0.5);
$white:hsla(0, 100, 100, 0.5);
$gDarkPurple:hsla(264, 100, 10, 0.1);
// Button Colors
$buttonL:#dac1ff;
$buttonD:#7e59b5;
$buttonBorderL:#9f78d9;
$buttonBorderD:#7b4ac2;
$buttonTextShadow:#f4ebff;

// media querys shamelessly stolen/marginally adapted from https://gist.github.com/miguelmota/5316827
$mobile-max-size: 640px !default;
$tablet-min-size: 768px !default;
$tablet-max-size: 979px !default;
$desktop-min-size: 979px !default;
$desktop-large-min-size: 1200px !default;

//                   ,,               ,,             gp
// `7MMM.     ,MMF'  db               db             \/
//   MMMb    dPMM                                    `'
//   M YM   ,M MM  `7MM  `7M'   `MF'`7MM  `7MMpMMMb.   ,pP"Ybd
//   M  Mb  M' MM    MM    `VA ,V'    MM    MM    MM   8I   `"
//   M  YM.P'  MM    MM      XMX      MM    MM    MM   `YMMMa.
//   M  `YM'   MM    MM    ,V' VA.    MM    MM    MM   L.   I8
// .JML. `'  .JMML..JMML..AM.   .MA..JMML..JMML  JMML. M9mmmP'
@mixin break($point) {
	@if $point == full {
		@media only screen and (max-width: $fullBreak) { @content; }
	}
	@else if $point == mobile {
		@media only screen and (max-width: $mobileBreak) { @content; }
	}
}


// media querys shamelessly stolen/marginally adapted from https://gist.github.com/miguelmota/5316827
@mixin break($media) {
	@if $media == mobile {
		@media only screen and (max-width: $mobile-max-size) { @content; }
	}
	@else if $media == mobile-portrait {
		@media only screen and (max-width: $mobile-max-size) and (orientation: portrait) { @content; }
	}
	@else if $media == mobile-landscape {
		@media only screen and (max-width: $mobile-max-size) and (orientation: landscape) { @content; }
	}
	@else if $media == mobile-tablet {
		@media only screen and (max-width: $tablet-max-size) { @content; }
	}
	@else if $media == tablet {
		@media only screen and (min-width: $tablet-min-size) and (max-width: $tablet-max-size) { @content; }
	}
	@else if $media == tablet-andup {
		@media only screen and (min-width: $tablet-min-size) { @content; }
	}
	@else if $media == tablet-landscape {
		@media only screen and (min-width: $tablet-max-size) and (orientation: landscape) { @content; }
	}
	@else if $media == tablet-desktop {
		@media only screen and (min-width: $tablet-max-size) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: $desktop-min-size) { @content; }
	}
	@else if $media == desktop-large {
		@media only screen and (min-width: $desktop-large-min-size) { @content; }
	}
}



@mixin group() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
//                                                        ,,
// `7MM"""YMM               mm                          `7MM
//   MM    `7               MM                            MM
//   MM   d    `7M'   `MF'mmMMmm .gP"Ya `7MMpMMMb.   ,M""bMM
//   MMmmMM      `VA ,V'    MM  ,M'   Yb  MM    MM ,AP    MM
//   MM   Y  ,     XMX      MM  8M""""""  MM    MM 8MI    MM
//   MM     ,M   ,V' VA.    MM  YM.    ,  MM    MM `Mb    MM
// .JMMmmmmMMM .AM.   .MA.  `Mbmo`Mbmmd'.JMML  JMML.`Wbmd"MML.



//              ,,        ,,
//   .g8""8q.  *MM        db                    mm
// .dP'    `YM. MM                              MM
// dM'      `MM MM,dMMb.`7MM  .gP"Ya   ,p6"bo mmMMmm ,pP"Ybd
// MM        MM MM    `Mb MM ,M'   Yb 6M'  OO   MM   8I   `"
// MM.      ,MP MM     M8 MM 8M"""""" 8M        MM   `YMMMa.
// `Mb.    ,dP' MM.   ,M9 MM YM.    , YM.    ,  MM   L.   I8
//   `"bmmd"'   P^YbmdP'  MM  `Mbmmd'  YMbmd'   `MbmoM9mmmP'
//                     QO MP
//                     `bmP

//            ,,                                          ,,        ,,
//  .M"""bgd  db   mm               `7MMF'     A     `7MF'db      `7MM
// ,MI    "Y       MM                 `MA     ,MA     ,V            MM
// `MMb.    `7MM mmMMmm .gP"Ya         VM:   ,VVM:   ,V `7MM   ,M""bMM  .gP"Ya
//   `YMMNq.  MM   MM  ,M'   Yb         MM.  M' MM.  M'   MM ,AP    MM ,M'   Yb
// .     `MM  MM   MM  8M""""""         `MM A'  `MM A'    MM 8MI    MM 8M""""""
// Mb     dM  MM   MM  YM.    ,          :MM;    :MM;     MM `Mb    MM YM.    ,
// P"Ybmmd" .JMML. `Mbmo`Mbmmd'           VF      VF    .JMML.`Wbmd"MML.`Mbmmd'
html {
	background-color:white;
	background-image:
		-webkit-repeating-linear-gradient(45deg,
			$gLightPurple,
			$gLightPurple 10px,
			$white 10px,
			$white 15px,
			$gDarkPurple 15px,
			$gDarkPurple 25px,
			$gLightPurple 25px,
			$gLightPurple 30px,
			$gDarkPurple 30px,
			$gDarkPurple 45px,
			$white 45px,
			$white 100px),
		-webkit-repeating-linear-gradient(135deg,
			$gLightPurple,
			$gLightPurple 10px,
			$white 10px,
			$white 15px,
			$gDarkPurple 15px,
			$gDarkPurple 25px,
			$white 25px,
			$white 30px,
			$gDarkPurple 30px,
			$gDarkPurple 45px,
			$white 45px,
			$white 100px)
	;
	background-image:
		repeating-linear-gradient(45deg,
			$gLightPurple,
			$gLightPurple 10px,
			$white 10px,
			$white 15px,
			$gDarkPurple 15px,
			$gDarkPurple 25px,
			$gLightPurple 25px,
			$gLightPurple 30px,
			$gDarkPurple 30px,
			$gDarkPurple 45px,
			$white 45px,
			$white 100px),
		repeating-linear-gradient(135deg,
			$gLightPurple,
			$gLightPurple 10px,
			$white 10px,
			$white 15px,
			$gDarkPurple 15px,
			$gDarkPurple 25px,
			$white 25px,
			$white 30px,
			$gDarkPurple 30px,
			$gDarkPurple 45px,
			$white 45px,
			$white 100px)
	;
}
body {
	color:$black;
	font:16px 'Open Sans', sans-serif;
	font-size:16px;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Libre Baskerville', serif;
	font-weight:400;
}
h1 {
	font-size:2.5em;
}
h2 {
	font-size:2.2em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1.3em;
}
h5 {
	font-size:1.1em;
}
h6 {
	font-size:1em;
}
a:link, a:visited {
	color:$purple;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
a:hover, a:active {
	background-color:$black;
	color:white;
}
::selection {
	background: $gLightPurple;
	}
::-moz-selection {
	background: $gLightPurple;
}
.wrap {
	margin: 1em auto;
	max-width:$mobileWidth;
	min-height:500px;
	position:relative;
	@include group();
	@include break(desktop) {
		max-width: 95%;
	}
}
header, section, footer {
	background-color:$bgWhite;
	margin:2em 0;
	padding:1em;
	position:relative;
	z-index:0;
	@include group();
}
.buttonWrap {
	display:block;
	font-size:1.2em;
	margin:1.5em 0;
	text-align:center;
}
a.button:link, a.button:visited {
	background-image: -webkit-linear-gradient(-80deg, $buttonL, $buttonD);
	background-image: -moz-linear-gradient(-80deg, $buttonL, $buttonD);
	background-image: linear-gradient(-80deg, $buttonL, $buttonD);
	border-top:2px solid $buttonBorderL;
	border-right:2px solid $buttonBorderD;
	border-bottom:2px solid $buttonBorderD;
	border-left:2px solid $buttonBorderL;
	border-radius:2em;
	color:$black;
	padding: 1em;
	text-decoration:none;
}
a.button:hover, a.button:active {
	background-image: -webkit-linear-gradient(-80deg, $buttonD, $buttonL);
	background-image: -moz-linear-gradient(-80deg, $buttonD, $buttonL);
	background-image: linear-gradient(-80deg, $buttonD, $buttonL);
	border-top:2px solid $buttonBorderD;
	border-right:2px solid $buttonBorderL;
	border-bottom:2px solid $buttonBorderL;
	border-left:2px solid $buttonBorderD;
	color:$black;
}
a.icon {
	text-decoration:none;
}
footer {
	text-align:center;
	p {
		margin-top: 0;
	}
	.icon {
		font-size: 3em;
		&:nth-child(4) {
			margin:0 1em;
		}
	}
	a.icon:link, a.icon:visited {
		color:$buttonD;
	}
	a.icon:hover, a.icon:active {
		background-color:transparent;
		color:$buttonBorderL;
	}
}
// `7MM"""Mq.
//   MM   `MM.
//   MM   ,M9 ,6"Yb.  .P"Ybmmm .gP"Ya  ,pP"Ybd
//   MMmmdM9 8)   MM :MI  I8  ,M'   Yb 8I   `"
//   MM       ,pm9MM  WmmmP"  8M"""""" `YMMMa.
//   MM      8M   MM 8M       YM.    , L.   I8
// .JMML.    `Moo9^Yo.YMMMMMb  `Mbmmd' M9mmmP'
//                   6'     dP
//                   Ybmmmd'
//
// 88  88  dP"Yb  8b    d8 888888
// 88  88 dP   Yb 88b  d88 88__
// 888888 Yb   dP 88YbdP88 88""
// 88  88  YbodP  88 YY 88 888888
//
.homeDesc {
	float:right;
	position:relative;
	width: 40%;
	z-index:1000;
	@include break(mobile) {
		float:none;
		text-align: center;
		width:100%;
	}
	h1 {
		margin:0.2em 0 0;
		text-align: center;
	}
	h2 {
		font-size: 1.4em;
	}
	h3 {
		font-size: 1.3em;
		text-align: center;
	}
}
.logo {
	height:auto;
	left:-2em;
	position:absolute;
	top:-2em;
	width:60%;
	z-index:700;
	opacity: 0.1;
	width:115%;
}
.title {
	float: left;
	font-size: 1.9em;
	text-align:center;
	width:40%;
	@include break(mobile) {
		float:none;
	}
}
.secDesc {
	display: inline-block;
	width:60%;
	@include break(mobile) {
		float:none;
		width:100%;
	}
}
article.project {
	@include group();
	img {
		clear:both;
		display: block;
		height: auto;
		width:100%;
	}
}
article.project {
	margin-bottom:4em;
}
.projHead {
	display:inline;
	float: left;
	text-align:center;
	width:40%;
	h3 {
		margin-top: 1em;
	}
	@include break(mobile) {
		width:100%;
	}
}
.projCont {
	display:inline;
	float: left;
	margin-top:1.3em;
	width:60%;
	@include break(mobile) {
		width:100%;
	}
}