// Variables ***************************************************************
$fullBreak:850px;
$fullWidth:730px;
$middleWidth:550px;
$mobileBreak:600px;
$mobileWidth:316px;


$black:#000000;
$purple:#6402ff;
$bgWhite:hsla(0, 100, 100, 0.8);

// Gradient Colors
$lightPurple:hsla(264, 100, 90, 0.5);
$white:hsla(0, 100, 100, 0.5);
$darkPurple:hsla(264, 100, 10, 0.5);

// Mixin's *****************************************************************
@mixin break($point) {
	@if $point == full {
		@media only screen and (max-width: $fullBreak) { @content; }
	}
	@else if $point == mobile {
		@media only screen and (max-width: $mobileBreak) { @content; }
	}
}
@mixin group() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}



// @mixin bgGradient() {
// 	background-image:
// 		repeating-linear-gradient(45deg,
// 			@content
// 		),
// 		repeating-linear-gradient(135deg,
// 			@content
// 	);
// }
// Extendables *************************************************************

/*********************** General Site Wide Selectors ***********************/
body {
	// @include linear-gradient(red, green); // need bourbon for this one...
	background-color:white;
	background-image:
		repeating-linear-gradient(45deg,
			$lightPurple,
			$lightPurple 10px,
			$white 10px,
			$white 13px,
			$darkPurple 13px,
			$darkPurple 18px,
			$white 18px,
			$white 38px,
			$darkPurple 38px,
			$darkPurple 48px,
			$white 48px,
			$white 100px),
		repeating-linear-gradient(135deg,
			$lightPurple,
			$lightPurple 10px,
			$white 10px,
			$white 13px,
			$darkPurple 13px,
			$darkPurple 18px,
			$white 18px,
			$white 38px,
			$darkPurple 38px,
			$darkPurple 48px,
			$white 48px,
			$white 100px)
	;
	font-size:16px;
	margin:0;
	padding:0;
}
a:link, a:visited {
	color:$black;
	text-decoration:none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
a:hover, a:active {
	color:$purple;
}
.wrap {
	background-color:$bgWhite;
	margin: 1em auto;
	max-width:700px;
	padding:1em;
	position:relative;
	@include group();
}
.wrap:before {
	content:url(../images/logo_0.png);
	left:-100px;
	position:absolute;
	top:-1em;
	z-index:0;
}
header, section, footer {
	position:relative;
	z-index:500;
}
/*********************** Page Specific Selectors ***************************/
.logo {
	float:left;
	height:auto;
	max-width:100%;
}
p {
	float:left;
}