html {
  background-color: white;
  background-image: -webkit-repeating-linear-gradient(45deg, rgba(224, 204, 255, 0.5), rgba(224, 204, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 15px, rgba(20, 0, 51, 0.1) 15px, rgba(20, 0, 51, 0.1) 25px, rgba(224, 204, 255, 0.5) 25px, rgba(224, 204, 255, 0.5) 30px, rgba(20, 0, 51, 0.1) 30px, rgba(20, 0, 51, 0.1) 45px, rgba(255, 255, 255, 0.5) 45px, rgba(255, 255, 255, 0.5) 100px), -webkit-repeating-linear-gradient(135deg, rgba(224, 204, 255, 0.5), rgba(224, 204, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 15px, rgba(20, 0, 51, 0.1) 15px, rgba(20, 0, 51, 0.1) 25px, rgba(255, 255, 255, 0.5) 25px, rgba(255, 255, 255, 0.5) 30px, rgba(20, 0, 51, 0.1) 30px, rgba(20, 0, 51, 0.1) 45px, rgba(255, 255, 255, 0.5) 45px, rgba(255, 255, 255, 0.5) 100px);
  background-image: repeating-linear-gradient(45deg, rgba(224, 204, 255, 0.5), rgba(224, 204, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 15px, rgba(20, 0, 51, 0.1) 15px, rgba(20, 0, 51, 0.1) 25px, rgba(224, 204, 255, 0.5) 25px, rgba(224, 204, 255, 0.5) 30px, rgba(20, 0, 51, 0.1) 30px, rgba(20, 0, 51, 0.1) 45px, rgba(255, 255, 255, 0.5) 45px, rgba(255, 255, 255, 0.5) 100px), repeating-linear-gradient(135deg, rgba(224, 204, 255, 0.5), rgba(224, 204, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 15px, rgba(20, 0, 51, 0.1) 15px, rgba(20, 0, 51, 0.1) 25px, rgba(255, 255, 255, 0.5) 25px, rgba(255, 255, 255, 0.5) 30px, rgba(20, 0, 51, 0.1) 30px, rgba(20, 0, 51, 0.1) 45px, rgba(255, 255, 255, 0.5) 45px, rgba(255, 255, 255, 0.5) 100px); }

body {
  color: #20005c;
  font: 16px 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

a:link, a:visited {
  color: #6402ff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

a:hover, a:active {
  background-color: #20005c;
  color: white; }

::selection {
  background: rgba(224, 204, 255, 0.5); }

::-moz-selection {
  background: rgba(224, 204, 255, 0.5); }

.wrap {
  margin: 1em auto;
  max-width: 316px;
  min-height: 500px;
  position: relative; }
  .wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 979px) {
    .wrap {
      max-width: 95%; } }

header, section, footer {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 2em 0;
  padding: 1em;
  position: relative;
  z-index: 0; }
  header:after, section:after, footer:after {
    content: "";
    display: table;
    clear: both; }

.buttonWrap {
  display: block;
  font-size: 1.2em;
  margin: 1.5em 0;
  text-align: center; }

a.button:link, a.button:visited {
  background-image: -webkit-linear-gradient(-80deg, #dac1ff, #7e59b5);
  background-image: -moz-linear-gradient(-80deg, #dac1ff, #7e59b5);
  background-image: linear-gradient(-80deg, #dac1ff, #7e59b5);
  border-top: 2px solid #9f78d9;
  border-right: 2px solid #7b4ac2;
  border-bottom: 2px solid #7b4ac2;
  border-left: 2px solid #9f78d9;
  border-radius: 2em;
  color: #20005c;
  padding: 1em;
  text-decoration: none; }

a.button:hover, a.button:active {
  background-image: -webkit-linear-gradient(-80deg, #7e59b5, #dac1ff);
  background-image: -moz-linear-gradient(-80deg, #7e59b5, #dac1ff);
  background-image: linear-gradient(-80deg, #7e59b5, #dac1ff);
  border-top: 2px solid #7b4ac2;
  border-right: 2px solid #9f78d9;
  border-bottom: 2px solid #9f78d9;
  border-left: 2px solid #7b4ac2;
  color: #20005c; }

a.icon {
  text-decoration: none; }

footer {
  text-align: center; }
  footer p {
    margin-top: 0; }
  footer .icon {
    font-size: 3em; }
    footer .icon:nth-child(4) {
      margin: 0 1em; }
  footer a.icon:link, footer a.icon:visited {
    color: #7e59b5; }
  footer a.icon:hover, footer a.icon:active {
    background-color: transparent;
    color: #9f78d9; }

.homeDesc {
  float: right;
  position: relative;
  width: 40%;
  z-index: 1000; }
  @media only screen and (max-width: 640px) {
    .homeDesc {
      float: none;
      text-align: center;
      width: 100%; } }
  .homeDesc h1 {
    margin: 0.2em 0 0;
    text-align: center; }
  .homeDesc h2 {
    font-size: 1.4em; }
  .homeDesc h3 {
    font-size: 1.3em;
    text-align: center; }

.logo {
  height: auto;
  left: -2em;
  position: absolute;
  top: -2em;
  width: 60%;
  z-index: 700;
  opacity: 0.1;
  width: 115%; }

.title {
  float: left;
  font-size: 1.9em;
  text-align: center;
  width: 40%; }
  @media only screen and (max-width: 640px) {
    .title {
      float: none; } }

.secDesc {
  display: inline-block;
  width: 60%; }
  @media only screen and (max-width: 640px) {
    .secDesc {
      float: none;
      width: 100%; } }

article.project:after {
  content: "";
  display: table;
  clear: both; }
article.project img {
  clear: both;
  display: block;
  height: auto;
  width: 100%; }

article.project {
  margin-bottom: 4em; }

.projHead {
  display: inline;
  float: left;
  text-align: center;
  width: 40%; }
  .projHead h3 {
    margin-top: 1em; }
  @media only screen and (max-width: 640px) {
    .projHead {
      width: 100%; } }

.projCont {
  display: inline;
  float: left;
  margin-top: 1.3em;
  width: 60%; }
  @media only screen and (max-width: 640px) {
    .projCont {
      width: 100%; } }
