<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Work With Fitz To {% if page.title %} {{ page.title }} {% else %} {{ ... }} {% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans' rel='stylesheet' type='text/css'>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body {% if page.bodyClass %} class="{{ page.bodyClass }}" {% endif %}>
        <div class="wrap">
            <header>
                <img src="images/logo_0_1.png" width="456" height="561" alt="Fitz" class="logo" />
                <div class="homeDesc">
                    {{ content }}
                    {% comment %} {% include nav.html %} {% endcomment %}
                </div>
            </header>
            <section>
                <h2 class="title">Portfolio</h2>
                <p class="portDesc">To give you a brief idea of what I have been up to recently here are three websites that I have completed so far in 2013. Each represents a passion of mine professional or otherwise and are built with the latest web standards on WordPress.</p>
                {% for project in site.categories.projects %}
                <article class="project">
                    <a href="{{ project.link }}" target="_blank">
                        <img src="{{ project.img }}" width="698" height="426"/>
                    </a>
                    <div class="projHead">
                        <h3>{{ project.title }}</h3>
                        <a href="{{ project.link }}" target="_blank">{{ project.link }}</a>
                    </div>
                    <div class="projCont">
                        {{ project.content }}
                    </div>
                </article>
                {% endfor %}
            </section>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <!--[if lte IE 7]><script src="js/lte-ie7.js"></script><![endif]-->
    </body>
</html>