{% include header.html %}
    <section id="portfolio">
        <h2 class="home_section-title">Portfolio</h2>
        <p class="home_section-desc">To give you a brief idea of what I've been up to recently, here are three websites that I completed in 2013. Each represents a passion of mine -- professional or otherwise -- and are built using the latest web standards on WordPress.</p>
        {% for project in site.categories.make %}
            <a href="{{ project.link }}" target="_blank" class="project-thumb">
                <h3>{{ project.title }}</h3>
                <div class="project-thumb-image" style="background-image:url({{ project.img }});"></div>
            </a>
        {% endfor %}
    </section>
    <section id="documentation">
        <h2 class="home_section-title">Documentation</h2>
        <p class="home_section-desc">This is where I will be documenting my work in process. I do it to inform other professionals and so that other professionals can tell me why I am wrong. We all learn! I am also creating helpful material for my clients.</p>
        {% for post in site.categories.document %}
        <div class="home_post">
            <h3>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h3>
            <p>{{ post.excerpt }}</p>
        </div>
        {% endfor %}
    </section>
{% include footer.html %}